.card {
margin: 2rem;
padding: 1rem;
border-radius: 13px;
display: flex;
justify-content: center;
align-items: center;
background: #323232;
box-shadow:  -18px 18px 9px #242424,
             18px -18px 9px #404040;
}

.img {
  width: 60%;
  height: 780px;
  border-radius: 26px;
  background: #323232;
  box-shadow:  -18px 18px 9px #242424,
               18px -18px 9px #404040;
}

.title {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgb(215, 255, 38);
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.infoBox {
  border-radius: 26px;
  background: transparent;
  padding: 1rem;
  margin: 1rem;
}

.info {
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-size: 1.5rem;
  padding: 2rem;
}