.container {
  width: 24%;
  height: 35%;
  color: aliceblue;
  border-radius: 26px;
  background: #323232;
  box-shadow:  -18px 18px 9px #242424,
               18px -18px 9px #404040;;
  padding: 2rem;
  margin: 3rem 2rem;
}


.container:hover {
  color: rgb(215, 255, 38);
  border-radius: 26px;
  background: #323232;
  box-shadow: inset -18px 18px 9px #242424,
              inset 18px -18px 9px #404040;
}