.container {
  color: rgb(215, 255, 38);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.label {
  max-width: 30%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  color: aliceblue;
  border-radius: 13px;
  background: #323232;
  box-shadow:  -18px 18px 9px #242424,
               18px -18px 9px #404040;
}

.input {
  padding: 0.3rem;
  border-radius: 13px;
  font-size: 1.5rem;
}

.search {
  display: flex;
  align-self: center;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.button {
  align-self: center;
  margin-left: 2rem;
  padding: 0.8rem;
  color: aliceblue;
  border-radius: 13px;
  background: #323232;
}

.button:active {
  color: rgb(215, 255, 38);
  border-radius: 13px;
  background: #323232;
  box-shadow: inset -18px 18px 9px #242424,
              inset 18px -18px 9px #404040;
}