.rovers {
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
}

.name {
  display: flex;
  justify-content: center;
}

.roverNames {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
  height: 500px;
  width: 300px;
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  border-radius: 26px;
  background: #323232;
  box-shadow:  -18px 18px 9px #242424,
               18px -18px 9px #404040;;
}

.innerCardRoverInfo {
  padding: 1.6rem;
}


.roverNames:hover {
  color: rgb(215, 255, 38);
  border-radius: 26px;
  background: #323232;
  box-shadow: inset -18px 18px 9px #242424,
              inset 18px -18px 9px #404040;
}