.container {
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.title {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 2rem;
  color: rgb(215, 255, 38);
  margin: 0;
  padding: 3rem;
}