.container {
  background: linear-gradient(145deg, #323232, #3c3c3c);
  box-shadow:  5px 5px 10px #161616,
               -5px -5px 10px #5a5a5a;

  padding: 1.5rem;
  margin: 0;
}

.navElm:hover {
  border-radius: 15px;
  background: #383838;
  box-shadow: inset 5px 5px 10px #161616,
              inset -5px -5px 10px #5a5a5a;
  color: rgb(185, 185, 185);
}

.navElm {
  padding: 1rem;
  color: #c5c4c4;
  text-decoration: none;
}