.container {
  background: linear-gradient(145deg, #323232, #3c3c3c);
  padding: 1.5rem;
  margin: 0;
  background: #323232;
  box-shadow:  -18px 18px 9px #242424,
               18px -18px 9px #404040;
}

.navElm:hover {
  color: rgb(215, 255, 38);
  border-radius: 13px;
  background: #323232;
  box-shadow: inset -18px 18px 9px #242424,
              inset 18px -18px 9px #404040;
}

.navElm {
  padding: 1rem;
  color: aliceblue;
  text-decoration: none;
}